@model IEnumerable<Ecommerce_SAt.DAL.Entities.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Paises</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var country in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => country.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => country.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@country.Id"class="btn btn-outline-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@country.Id"class="btn btn-outline-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@country.Id"class="btn btn-outline-primary">borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
